
html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
div.page {
	margin: 0px;
	padding: 0px;
	border: solid green 0px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    display: none;
}
div#mainView {
	display: inline-block;
}
div.userinfo {
	top: 2px;
	display: inline-block;
	position: absolute;
	margin: 0px;
	padding: 2px;
	opacity:0.8;
	color: #aaaaaa;
	background: #333333;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;	
	-webkit-box-shadow:0 0 10px black;
	-moz-box-shadow:0 0 10px black;
}
div#user2 {
	left: 2px;
}
div#user1 {
	right: 2px;
}
div#control {
	display: inline-block;
	position: absolute;
	border: solid green 0px;
	margin: 0px;
	padding: 0px;
	top: 120px;
	right: 2px;
}
div#menu {
	display: inline-block;
	position: absolute;
	border: solid green 0px;
	margin: 0px;
	padding: 2px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	text-align: center;
	color: #aaaaaa;
	background: #333333;
}
div#pageset {
	position:absolute;
	bottom:80px;
	right:5px;
	padding:5px;
	color: #aaaaaa;
	background: #333333;
	opacity:0.8;
	display:none;
	-webkit-box-shadow:0 0 10px black;
	-moz-box-shadow:0 0 10px black;
}
button {
	width: 48px;
	height: 48px;
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;	
}
img {
	v-space: 0px;
	padding-bottom: 0px;
}
img.menu-icon {
	width: 48px;
	height: 48px;
}
table {
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
	border: solid green 0px;
}
td.m {
	width: 20%;
}